header {
	h3 {
		margin: 0 0 6px 50px;
	}

	a {
		font-size: 20px;
		margin: 0 0 0 50px;
		text-decoration: none;

		&:hover {
			color: #ff0000;
		}
	}
}

.heading {
	margin-bottom: 85px;
}

.header-title {
	line-height: 0.85;
	margin: 0px;
}
