.tictactoe {
	section {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	img {
		width: 100px;
	}

	h4 {
		letter-spacing: 3px;
	}

	.players-information-container {
		background-color: #000;
		border-radius: 10px;
		display: flex;
		margin-top: 30px;
		padding: 20px 30px;

		.player-info-container {
			display: flex;
			flex-direction: column;
			width: 300px;
		}

		.player-info {
			display: flex;
			align-items: center;
			margin: 0 10px;
		}

		h4 {
			font-size: 38px;
			margin: 0;
		}

		button {
			color: #ff9d00;
			background-color: #000;
			border: none;
			letter-spacing: 3px;
			margin-right: 10px;
			padding-left: 64px;
			text-transform: uppercase;
			text-align: left;

			&:hover {
				cursor: pointer;
				color: #19ff00;
			}
		}

		input {
			border: none;
			border-radius: 3px;
			height: 55px;
			padding-left: 10px;
			width: 200px;
		}

		p {
			font-size: 20px;
			line-height: 2;
			margin: 0;
		}

		.symbol {
			font-family: "Gill Sans", sans-serif;
			font-weight: 500;
			background-color: #ff9d00;
			border-radius: 50%;
			color: #fff;
			height: 40px;
			margin-right: 10px;
			text-align: center;
			width: 40px;
		}

		.active {
			color: #ffcc00;
		}
	}

	.game-board {
		display: flex;
		margin-bottom: 100px;

		button {
			background-color: #000;
			border: none;
			color: #ff9d00;
			border-radius: 5px;
			font-family: "Gill Sans", sans-serif;
			font-size: 20px;
			margin: 7px;
			height: 100px;
			width: 100px;

			&:hover {
				cursor: pointer;
			}
		}
	}
}
