.weather {
	display: flex;
	flex-direction: row;
	width: 665px;

	.weather-left {
		width: 275px;
	}

	.weather-right {
		width: 100%;
	}

	h1 {
		font-size: 55px;
	}

	h4 {
		font-size: 21px;
		margin: 0 0 20px;
		text-align: center;
	}

	.calendar {
		margin-left: 0;

		h2 {
			font-style: italic;
			font-size: 55px;
		}

		h3 {
			display: none;
		}
	}

	.weather-main {
		font-size: 52px;
		margin-top: 38px;
	}

	.details {
		display: flex;
		flex-direction: row;
		justify-content: center;
		white-space: break-spaces;
	}

	.item {
		font-weight: 300;
		margin-bottom: 0;
	}

	.value {
		// line-height: 0.75;
	}

	.weather-temp {
		font-family: "Josefin Sans", sans-serif;
		font-size: 80px;
		margin-bottom: 8px;
	}

	.weather-location {
		font-size: 30px;
		font-weight: 300;
	}

	.weather-extra {
		margin-bottom: 85px;
	}

	.freeze {
		color: #cceaf2;
	}

	.cold {
		color: #e0e2e2;
	}

	.cool {
		color: #bfbebb;
	}

	.mild {
		color: #9f8c7d;
	}

	.warm {
		color: #e0874a;
	}

	.hot {
		color: #ffb600;
	}
}
